# -*- coding: utf-8 -*-
# vim: ft=jinja

{## Start imports as ##}
{% import_yaml 'stack/defaults.yaml' as default_settings %}
{% import_yaml 'stack/osfamilymap.yaml' as osfamilymap %}
{% import_yaml 'stack/osmap.yaml' as osmap %}
{% import_yaml 'stack/osfingermap.yaml' as osfingermap %}

{% set defaults = salt['grains.filter_by'](default_settings,
    default='stack',
    merge=salt['grains.filter_by'](osfamilymap, grain='os_family',
      merge=salt['grains.filter_by'](osmap, grain='os',
        merge=salt['grains.filter_by'](osfingermap, grain='osfinger',
          merge=salt['pillar.get']('stack:lookup', default={})
        )
      )
    )
) %}

{## Merge the stack pillar ##}
{% set stack = salt['pillar.get']('stack', default=defaults, merge=True) %}
